*{
    margin: 0;
    padding: 0;
    /* overflow-x:hidden ; */
    font-family: Verdana,sans-serif;
}
.container{
    max-width: 1400px;
}
.menu{
    width: 100%;
    height: auto;
    display: flex;
    background-color: black;
    position:fixed ;
    top: 0px;
    z-index: 999;
    /* justify-content: space-between; */
}
.menu button{
    width: 98px;
    height: 38px;
    border: none;
    font-size: 15px;
    color: white;
    background-color: #009688;
}
.menu button:hover{
    background-color: grey;
    color:black;
}
.menu1{
    align-items: center;
    justify-content: start;
}
.menu1 button{
    margin-right: -5px;
    width: 75px;
    height: 38px;
    border: none;
    font-size: 15px;
    color: white;
    background-color: black;
}
.menu1 button:hover{
    color: black;
    background-color: #f0f0f0;
}
.menu1 span{
    padding-left: 4px;
    padding-top: 7px;
    margin-left: 4px;
    padding-bottom: 10px;
}
.menu1 span:hover{
    color: black;
    background-color: #f0f0f0;
}
.dropdown {
    position: relative;
    display: inline-block;
    width: 115px;
  } 
  .dropdown-toggle {
    width: 150px; 
    color: white;
    border: none;
    cursor: pointer;
  }
  .dropdown-menu {
    width: 150px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  } 
  .dropdown-menu a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
  }
.menu2 button{
    width: 45px;
    color: white;
    background-color: black;
}
.menu2 button:hover{
    background-color: #009688;
    color: white;
}
  .menuorta{
    width: 912px;
  }
/* .menu2{
    width: 38px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
} */


                   

  
/* .ust{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    color: white;
    width: 100%;
    height: min-content;
    position:fixed ;
    top: 0px;
    z-index: 999;
}
.button1{
    padding-top: 2px;
    width: 100px;
    height: 29px;
    background-color: red;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}   
.ust a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    
}
.ust a:hover{
    color: black;
    background-color: white;
}
.anasayfa{
    background-color: #009688;
    width: 100px;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.anasayfa a{
    font-size: 25px;
    color: white;
    text-decoration: none;
}
.anasayfa:hover{
    background-color: white;
}
.ust button:hover{
    background-color: white;
}
.ust2{ 
    justify-content: flex-end; 
    width: 975px;
}
.usticon{
    display: flex;
    justify-content: flex-end;
    width: 27px;
    height: 27px;
}
.usticon:hover{
    background-color: aquamarine;
}
.search{
    
    margin-top: 5px;
    padding:2px;
}
.search:hover{
    color: black;
}
.button{
    height: min-content;
    background-color: black;
}
.button:hover{
    color: black;
    background-color: white;
}
.button a:hover{
    color: black;
    
} */
/* slider */
.slider{
    width: 100%;
    height: 600px;
    margin-bottom: 40px;
    background-color: red;
}
.slider img{
    position: absolute;
    width: 100%;
    height: 600px;
}
.slider button{
    width: 220px;
    height: 50px;
    position: absolute;
    background-color: black;
    border: none;
    color: white;
    font-size: 25px;
    left: 15px;
    margin-top: 530px;
}
.slider button:hover{
    background-color: #009688;
    color: white;
}
/* takım */
.takim{
    width: 100%;
    height: 400px;
    text-align: center;
    padding:40px;      
    
}
.text{   
    font-family: "Segoe UI",Arial,sans-serif;
    font-size: 30px;
    margin-bottom: 25px;
}
.avatar{
padding: 40px;
 display: flex;
    justify-content: space-around;
    align-items: center
}
.avatar img{
width: 160px;
height: 160px;
border-radius:50%;
/* border:10px solid #fff */
}
.avatar p{
    
    margin-top: 15px;
    font-size: 15px;
}
.avatar h2{
    font-weight: 400;
    font-family: "Segoe UI",Arial,sans-serif;
    margin-top: 10px;
}
/* ourwork */
.OurWork{
    width: auto;
    margin-right: -80px;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(54, 54, 54);
    padding-right: 10px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 60px;
}
.yazi{
    width: 346px;
    height: 500px;
    color:aliceblue;
}
.yazi h1{
    font-weight: 400;
    font-family: "Segoe UI",Arial,sans-serif;
}
.resim{
    width: 350px;
    height: 500px;
    background-color: white;
}
.resim img{
    width: 350px;
    height: 225px;
    justify-content: space-around;
}
.resim h2{
    margin-top: 10px;
    font-weight: 400;
    margin-left: 10px;
}
.resim p{
    font-size: 20px;
    margin-left: 10px;
}
/* üyelik */
.uyelikler{
    margin: 20px;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    margin-bottom: 50px;
}
.uyelikyazi{
    margin-left: 50px;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.basit{
    margin-right: 15px;
    width: 40%;
    height: min-content;
    border: 0.5px solid #b0b0b0;
}
.basit:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.basit h1{
    width: 100%;
    height: 65px;
    font-weight: 500;
    font-size: 25px;
    padding-top:35px;
    text-align: center;
    color: white;
    background-color: black;
}
.basit p{
    margin-bottom: 15px;
    text-align: center;
}

.basit h2{
    text-align: center;
    font-size: 30px;
}
.basit button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 44px;
    color: white;
    font-size: 15px;
    background-color: #009688;
    border: none;
}
.basit button:hover{
    color: black;
    background-color: #8b8b8b;
}
.btn{
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pro{
    margin-right: 15px;
    width: 40%;
    height: min-content;
    border: 0.5px solid #b0b0b0;
}
.pro:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.pro h1{
    width: 100%;
    height: 65px;
    font-weight: 500;
    font-size: 25px;
    padding-top:35px;
    text-align: center;
    color: white;
    background-color: #646464;
}
.pro p{
    margin-bottom: 15px;
    text-align: center;
}
.pro h2{
    text-align: center;
    font-size: 30px;
}
.pro button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 44px;
    color: white;
    font-size: 15px;
    background-color: #009688;
    border: none;
}
.pro button:hover{
    color: black;
    background-color: #8b8b8b;
}
.premium{
    margin-right: -85px;
    width: 40%;
    height: min-content;
    border: 0.5px solid #b0b0b0;
}
.premium:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.premium h1{
    width: 100%;
    height: 65px;
    font-weight: 500;
    font-size: 25px;
    padding-top:35px;
    text-align: center;
    color: white;
    background-color: black;
}
.premium p{
    margin-bottom: 15px;
    text-align: center;
}
.premium h2{
    text-align: center;
    font-size: 30px;
}
.premium button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 44px;
    color: white;
    font-size: 15px;
    background-color: #009688;
    border: none;
}
.premium button:hover{
    
    color: black;
    background-color: #8b8b8b;
}
/* iletişim */
/* .iletisim{
    width: 100%;
    height: 400px;
    background-color: red;
    margin-top: 120px;
}
.adres{
    width: 50%;
    height: 400px;
    background-color: blue;
}
.form{
    width: 50%;
    height: 400px;
    background-color: purple;
} */
.iletisim{
    width: 1441px;
    padding: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
    height: min-content;
    background-color:#f0f0f0; 
    display: flex;
}
.adres{
    
    margin-right: 278px;
    height: 300px;
    margin-top: 20px;
}
.adres h1{
    font-weight: 500;
    font-size: 25px;
    border-bottom: 7px  #009688 solid  ;
    width: 140px;
}
.adres h2{
    font-weight: 100;
}

.adres p{
    font-size: 15px;
    color: black ;
}
.form{
    width: 805px;
    /* height: 320px; */
    background-color: white;
    padding: 20px;
    border: 1px solid #8b8b8b;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.form h3{
    font-weight: 500;
}
input[type=text] {
width: 100%;
height: 35px;
padding: 12px 20px;
margin: 8px 0;
box-sizing: border-box;
border: none;
}
.gonder{
    margin-top: 10px;
    display: flex;
}
.gonder button{
    font-weight: 400;
    font-size: 15px;
    width: 70px;
    height: 40px;
    background-color: black;
    color: aliceblue;
    margin-left: 615px;
    margin-top: 15px;
    border:none;
}
.gonder p{
    margin-left: 10px;
    margin-top: 18px;
    font-size: 20px;
}
.gonder button:hover{
    background-color: #8b8b8b;
    color: black;
}
input[type=checkbox]{
    width: 30px;
    
}
/*  map  */
.map{
    width: 1481px;
    height: 845px;
}
.map img{
    width: 1481px;
    height: 841px;
}
/* son */
.son{
    width:1481px ;
    margin-top: -5px;
    height: 300px;
    background-color: black;
    align-items: center;
}
.sonbaslik{
    padding-top: 50px;
    padding-bottom: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center; 
    margin-right:30px;
    color:#ffffff;
}
.sosyalmedya{
    align-items: center;
    text-align: center; 
    display: flex;
    justify-content: space-between;

}
.iconlar{
    width: 270px;
    justify-content: space-between;
    display: flex; 
    height: 50px;
    
}
.iconlar span{
    width: 50px;
    height: 50px;
    background-color: #009688;
}
.bosluk{
    width: 70px;
}
.dis{
    display: flex;
}
.basadon{
    display: block;
    margin-right: 10px;
    padding-top: 10px;
    font-size: 24px;
    width: 50px;
    height: 40px;
    color: white;
    margin-left: 10px;
}
.basadon-go{
    display: none;
    background-color: #009688;
    padding: 8px 16px;
}
.basadon-go a{
    text-decoration: none;
    color: red;
}
.basadon a{
    color: white;
}
.basadon:hover{
    background-color: #f0f0f0;
}
.basadon:hover .basadon-go{
    display: block;
}
.basadon:hover a{
    color: black;
    background-color: #f0f0f0;
}
.icon{
    color: #ffffff;width: 50px;
    margin-top: 15px;
}
.icon:hover{
    color:black;
}
.sosyalmedya span:hover{
    background-color: grey;
}
.alt{
    margin-top: 10px;
    margin-left: 660px;
    color: #ffffff;
}
.alt a{
    
    color: white;
}